// import $primary-map
@import "/src/theme-maps";
// import mat-color
@import "~@angular/material/theming";

a {
  color: mat-color($primary-map, 600);
  // color: var(--primary-600);
  // color: hsla( var(--primary-600-h), var(--primary-600-s), var(--primary-600-l), 100%);
}


.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.overflow-container {
  overflow: auto;
  height: calc(100vh - 64px);
}

.app-container {
  padding: 24px 16px;
  display: flex;
  align-items: flex-start;

  .theme {
    display: grid;
    grid-template-columns: 75px 1fr;
    gap: 16px;
    align-items: center;
    margin-right: 24px;
    position: sticky;
    top: 24px;
  }

}

section {
  width: 100%;
  margin-bottom: 50px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
