<mat-toolbar color="primary">
  <div class="wrapper">
    <span>Material Theme Creator demo page</span>
  </div>
</mat-toolbar>

<div class="overflow-container">
  <div class="wrapper">
    <div class="app-container">
      <div class="theme">
        <div class="label">
          Theme:
        </div>
        <div class="value">
          <button mat-icon-button color="primary" aria-label="Change theme" (click)="theme.dark = !theme.dark">
            <mat-icon>{{theme.dark ? 'nights_stay' : 'wb_sunny'}}</mat-icon>
          </button>
        </div>


        <div class="label">Hue:</div>
        <div class="value">
          <mat-slider
            [value]="theme.h"
            (input)="theme.h = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="360"></mat-slider>
        </div>
        <div class="label">
          Saturate:
        </div>
        <div class="value">
          <mat-slider
            [value]="theme.s"
            (input)="theme.s = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Lightness:
        </div>
        <div class="value">
          <mat-slider
            [value]="theme.l"
            (input)="theme.l = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
        <div class="label">
          Contrast threshold:
        </div>
        <div class="value">
          <mat-slider
            [value]="theme.cc"
            (input)="theme.cc = $event.value"
            thumbLabel
            color="primary"
            tickInterval="1"
            min="0"
            max="100"></mat-slider>
        </div>
      </div>

      <div class="content-container">
        <section>
          <h2>Buttons</h2>

          <div>
            <div class="example-label">Basic</div>
            <div class="example-button-row">
              <button mat-button>Basic</button>
              <button mat-button color="primary">Primary</button>
              <button mat-button disabled>Disabled</button>
              <a mat-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </div>

          <div>
            <div class="example-label">Raised</div>
            <div class="example-button-row">
              <button mat-raised-button>Basic</button>
              <button mat-raised-button color="primary">Primary</button>
              <button mat-raised-button disabled>Disabled</button>
              <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </div>
          <div>
            <div class="example-label">Stroked</div>
            <div class="example-button-row">
              <button mat-stroked-button>Basic</button>
              <button mat-stroked-button color="primary">Primary</button>
              <button mat-stroked-button disabled>Disabled</button>
              <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </div>
          <div>
            <div class="example-label">Flat</div>
            <div class="example-button-row">
              <button mat-flat-button>Basic</button>
              <button mat-flat-button color="primary">Primary</button>
              <button mat-flat-button disabled>Disabled</button>
              <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </div>
          <div>
            <div class="example-label">Icon</div>
            <div class="example-button-row">
              <div class="example-flex-container">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                  <mat-icon>home</mat-icon>
                </button>
                <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                  <mat-icon>open_in_new</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div>
            <div class="example-label">FAB</div>
            <div class="example-button-row">
              <div class="example-flex-container">

                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                  <mat-icon>delete</mat-icon>
                </button>

                <button mat-fab disabled aria-label="Example icon button with a heart icon">
                  <mat-icon>favorite</mat-icon>
                </button>

              </div>
            </div>
          </div>
          <div>
            <div class="example-label">Mini FAB</div>
            <div class="example-button-row">
              <div class="example-flex-container">

                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                  <mat-icon>menu</mat-icon>
                </button>

                <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                  <mat-icon>home</mat-icon>
                </button>

              </div>
            </div>
          </div>
        </section>

        <section>
          <h2>Badges</h2>


          <p>
            <span matBadge="4" matBadgeOverlap="false">Badge</span>
          </p>

          <p>
            <span matBadge="1" matBadgeSize="large">Text with large badge</span>
          </p>

          <p>
            Icon with a badge
            <mat-icon matBadge="15" matBadgeColor="primary">home</mat-icon>
            <span class="cdk-visually-hidden">
              Example with a home icon with overlaid badge showing the number 15
            </span>
          </p>

        </section>

        <section>
          <h2>Checkboxes and radio buttons</h2>
          <p>
            <mat-checkbox class="example-margin" color="primary" [checked]="true">Check me!</mat-checkbox>
          </p>
          <p>
            <mat-checkbox class="example-margin" color="primary" [disabled]="true" [checked]="true">Disabled
            </mat-checkbox>

          </p>
          <p>
            <mat-slide-toggle color="primary" [checked]="true">Slide me!</mat-slide-toggle>

          </p>

          <div>
            <label id="example-radio-group-label">Pick your favorite season</label>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              color="primary"
              [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                {{season}}
              </mat-radio-button>
            </mat-radio-group>
            <div>Your favorite season is: {{favoriteSeason}}</div>
          </div>

        </section>

        <section>
          <h2>Fields</h2>

          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Legacy form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Standard form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Fill form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Outline form field</mat-label>
              <input matInput placeholder="Placeholder">
              <mat-icon matSuffix color="primary">sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill" color="primary">
              <mat-label>Favorite food</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>
        </section>

        <section>
          <h2>Loaders</h2>

          <p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </p>

          <p>
            <mat-spinner></mat-spinner>
          </p>
        </section>


        <section>
          <h2>How to use with Angular Material</h2>
          <p>
            <a target="_blank"
               href="https://github.com/Artik-Man/material-theme-creator-demo-page/blob/master/src/styles.scss">
              Global styles file
            </a>
          </p>
          <p>
            <a target="_blank"
               href="https://github.com/Artik-Man/material-theme-creator-demo-page/blob/master/src/app/theme.ts">
              Update theme class
            </a>
          </p>
        </section>

      </div>
    </div>
  </div>
</div>
